@page
@model IndexModel
@{
    ViewData["Title"] = "Arnolds Pizza Shop";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black mt-5">Welcome to Arnolds Pizza Shop</h1>
        <h2 class="mainSubTitle">A pizza shop made with Razor pages</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>
    <br />
    <a class="btn btn-primary mt-3" asp-area="" asp-page="OrderPizza">Order Pizza!</a>
</div>
