@page
@model PizzaShop.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Our Pizza selection</h1>
        <h2 class="mainSubTitle">Choose one of our pizzas <br /> or try our pizza builder</h2>

        <p class="smallText"><i>Only one pizza per order</i></p>
    </div>
</div>