@page
@model PizzaShop.Pages.Checkout.ThankYouModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Thank you!</h1>
        <h2 class="mainSubTitle">Yuor pizza is being prepared</h2>
    </div>
</div>

